img.main_banner {
  width: 1920px;
  height: 1000px;
  margin: 80px 0 0;
  padding: 119px 411px 106px 354px;
  object-fit: contain;
}

.Layer-563 {
  width: 1920px;
  height: 578px;
  margin: 0 82px 19px 0;
  /* border: solid 6px var(--black-two); */
  background-image: url('../public/Image/introduction-bg.png');
}

.Info-what-happened {
  display: grid;
}

.What-Happened {
  width: 562px;
  height: 37px;
  margin: 174px 16px 132px 173px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: left;
  color: #fff;
}

.How-to-create-mobile-optimized-videos-in-minutes-Not-a-designe {
  width: 667px;
  height: 125px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 180px;
  margin-top: -40px;
}